version: '3.8'

services:
  jupyter:
    build: .
    ports:
      - "8888:8888"
    volumes:
      - .:/usr/local/app  # This works on macOS, Windows, and Linux
    environment:
      - JUPYTER_ENABLE_LAB=yes